@page "/usuario/create"
@inject SweetAlertService Swal

<h3>Crear Usuarios</h3>

<button class="btn btn-primary" @onclick="@(async () => await Swal.FireAsync("probar sweet alert 2"))">Sweet Alert 2</button>


<div class="row">
    <div class="col-6">
        <form>
            <div class="form-group mb-3">
                <label>Nombre de Usuario:</label>
                <input type="text" class="form-control shadow" placeholder="Introduzca el nombre del usuario" id="name" />
            </div>
            <div class="form-group mb-3">
                <label>Correo</label>
                <input type="email" class="form-control shadow" placeholder="Introduzca el correo electronico" id="email" />
            </div>
            <div class="form-group mb-3">
                <label>Contraseña:</label>
                <input type="password" class="form-control shadow" placeholder="Introduzca a contraseña del usuario" id="password"  />
            </div>
            <div class="form-group mb-3">
                <label>Departamento:</label>
                <select class="form-select shadow">
                    <option value="">Seleccione un Departamento:</option>
                    <option value="1">Sistemas</option>
                    <option value="2">Almacen</option>
                    <option value="3">Recursos Humanos</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label>Cargo:</label>
                <input type="text" class="form-control shadow" placeholder="Introduzca el cargo de trabajo" id="cargo" />
            </div>
            <div class="form-group mb-3">
                <label>Tipo de Usuario:</label>
                <select class="form-select shadow">
                    <option value="">Seleccione un tipo:</option>
                    <option value="1">Super Admin</option>
                    <option value="2">Admin</option>
                    <option value="3">User</option>
                    <option value="4">Invitado</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label>Telefono:</label>
                <input type="text" class="form-control shadow" placeholder="Introduzca el numero telefonico" id="telefono" />
            </div>



            <div class="row mt-5" style="display:flex;align-content:center;align-items:center;">
                <div class="col-6">
                    
                    <button class="btn btn-primary" @onclick="@(async () => await Swal.FireAsync("click en el boton salvar"))">Guardar</button>
                    <a href="#" class="btn btn-primary">Volver</a>
                </div>
            </div>

        </form>
    </div>
</div>







@code {


    public void SaveUsers()
    {
        
    }

}
