@page "/usuario/index"

<h5 class="fw-bold mb-5">Gestión de Usuarios</h5>

<div class="row mb-3">
    <div class="col-6">
        <buton class="btn btn-primary shadow">Crear Usuario</buton>
        <buton class="btn btn-outline-secondary shadow">Volver Main</buton>
    </div>  
</div>



<table class="table table-bordered table-striped shadow">
    <thead>
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Correo</th>
            <th>Tipo</th>
            <th>Dpto.</th>
            <th>Cargo</th>
            <th>Telefono</th>
            <th>Activo</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Nelson Pino</td>
            <td>devsoftware.etiquetas@gmail.com</td>
            <td>Admin</td>
            <td>Sistemas</td>
            <td>Developer</td>
            <td>829-894-5472</td>
            <td>Activo</td>
            <td><a href="#" class="me-2">Editar</a><a href="#">Eliminar</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Juan Carlos Rojas</td>
            <td>jrojas2024@etiquetas.com.do</td>
            <td>Admin</td>
            <td>Sistemas</td>
            <td>Soporte</td>
            <td>829-8014-5175</td>
            <td>Activo</td>
            <td><a href="#" class="me-2">Editar</a><a href="#">Eliminar</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Janet Peña</td>
            <td>gerencia@etiquetas.com.do</td>
            <td>User</td>
            <td>Gerencia</td>
            <td>Gerente</td>
            <td>829-2047744</td>
            <td>Activo</td>
            <td><a href="#" class="me-2">Editar</a><a href="#">Eliminar</a></td>
        </tr>
    </tbody>
</table>



@code {

}
