@page "/asistencia/index"

<h3>Asistencia de Personal</h3>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id User</th>
            <th>Nombre Empleado</th>
            <th>Departamento</th>
            <th>M1</th>
            <th>M2</th>
            <th>M3</th>
            <th>M4</th>
        </tr>
    </thead>
</table>



@code {

}
